include files/etc/marvind.conf
include files/etc/marvind.conf
include files/usr/bin/*.sh
include files/var/lib/lxc/default/config
include files/lib/systemd/system/marvind.service
include files/DEBIAN/*
