[Install]
WantedBy=multi-user.target

[Unit]
Description=Scheduling client
After=network.target

[Service]
ExecStart=/usr/bin/marvind
Type=simple
Restart=on-failure

StandardError=null
StandardOutput=null
